<p>
&quot;<%= obj["quote"] %>&quot;
<br /> &ndash; <%= obj["attribution"] %>
</p>

<p>
Submitted by <%= obj["submitter"] %>
</p>

<p>
  <%# Pretty damn easy eh?  Rack does all of Rails heavy lifting %>

  Viewing with user agent: <%= ua %>
</p>
